<%- include ("./partials/header") %>

<div class="container history">
    <h2>History of the latest 5 quizes</h2>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">SumQuiz</th>
                <th scope="col">SumQuiz - Time</th>
                <th scope="col">MinusQuiz</th>
                <th scope="col">MinusQuiz - Time</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < 5; i++)
            { %>
                <tr>
                    <th scope="row"><%= i + 1 %></th>
                    <% if (user.sumQuiz[i]) 
                    { %>
                        <td><%= user.sumQuiz[i].score %>%</td>
                        <td><%= user.sumQuiz[i].date.toLocaleString() %></td>
                    <% }
                    else 
                    { %>
                        <td>-</td>
                        <td>-</td>
                    <% } %>
                    <% if (user.minusQuiz[i]) 
                    { %>
                        <td><%= user.minusQuiz[i].score %>%</td>
                        <td><%= user.minusQuiz[i].date.toLocaleString() %></td>
                    <% }
                    else 
                    { %>
                        <td>-</td>
                        <td>-</td>
                    <% } %>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>

<%- include ("./partials/footer") %>